<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legal Agreement CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openCreateModal()" type="button" class="btn btn-primary navbar-btn">Create Legal Agreement</button>
        <button ng-click="demoApp.openSetBustModal()" type="button" class="btn btn-primary navbar-btn">Set a Bust Party</button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Create Legal Agreement From Intermediary</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="partyA" class="control-label">Contractor:</label>
                <select ng-model="modalInstance.form.partyA" class="form-control" id="partyA"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="partyB" class="control-label">Lender:</label>
                <select ng-model="modalInstance.form.partyB" class="form-control" id="partyB"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="oracle" class="control-label">Oracle:</label>
                <select ng-model="modalInstance.form.oracle" class="form-control" id="oracle"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="quantity" class="control-label">Quantity (Long):</label>
                <input type="text" ng-model="modalInstance.form.quantity" class="form-control" id="quantity">
            </div>
            <div class="form-group">
                <label for="currency" class="control-label">Currency Code:</label>
                <input type="text" ng-model="modalInstance.form.currency" class="form-control" id="currency">
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create Legal Agreement</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="endAgreementAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">End Legal Agreement From Contractor or Lender or Intermediary</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="txHash" class="control-label">Tx Hash:</label>
                <input type="text" readonly="readonly" ng-value="modalInstance.form.txHash" id="txHash"/>
            </div>
            <div class="form-group">
                <label for="outputIndex" class="control-label">Output Index:</label>
                <input type="text" readonly="readonly" ng-value="modalInstance.form.outputIndex" id="outputIndex"/>
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.end()" type="button" class="btn btn-primary">End Legal Agreement</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="directAgreementAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Do Direct on Legal Agreement From Contractor or Lender</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="txHashDirect" class="control-label">Tx Hash:</label>
                <input type="text" readonly="readonly" ng-value="modalInstance.form.txHash" id="txHashDirect"/>
            </div>
            <div class="form-group">
                <label for="outputIndexDirect" class="control-label">Output Index:</label>
                <input type="text" readonly="readonly" ng-value="modalInstance.form.outputIndex" id="outputIndexDirect"/>
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.goDirect()" type="button" class="btn btn-primary">Go Direct on Legal Agreement</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="setBustModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Set a Bust Party, From the Oracle</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="party" class="control-label">Party:</label>
                <select ng-model="modalInstance.form.party" class="form-control" id="party"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="isBust" class="control-label">Is Bust:</label>
                <select ng-model="modalInstance.form.isBust" class="form-control" id="isBust">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.setBust()" type="button" class="btn btn-primary">Set Is Bust</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel-group" id="accordion">
            <div class="panel">
                <div class="panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Recorded Agreements:
                        </h4>
                    </div>
                </div>
                <div>
                    <div ng-show="!demoApp.agreements.length" class="panel-body">Use the "Create Legal Agreement" button to send an Agreement to a peer.</div>
                    <div ng-repeat="agreement in demoApp.agreements" class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Intermediary: {{agreement.state.intermediary}}</li>
                                <li>Contractor: {{agreement.state.partyA}}</li>
                                <li>Lender: {{agreement.state.partyB}}</li>
                                <li>Intermediary: {{agreement.state.intermediary}}</li>
                                <li>Oracle: {{agreement.state.oracle}}</li>
                                <li>Value: {{agreement.state.value}}</li>
                                <li>Status: {{agreement.state.status}}</li>
                                <li>Tx hash: {{agreement.ref.txhash}}</li>
                                <li>Output Index: {{agreement.ref.index}}</li>
                            </ul>
                            <button ng-click="demoApp.openDirectModal(agreement.ref.txhash, agreement.ref.index)" type="button" class="btn btn-primary navbar-btn">Go Direct With This Agreement</button>
                            <button ng-click="demoApp.openEndModal(agreement.ref.txhash, agreement.ref.index)" type="button" class="btn btn-primary navbar-btn">End This Agreement</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            My Agreements:
                        </h4>
                    </div>
                </div>
                <div>
                    <div ng-repeat="agreement in demoApp.myAgreements" class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Contractor: {{agreement.contractor}}</li>
                                <li>Lender: {{agreement.lender}}</li>
                                <li>Oracle: {{agreement.oracle}}</li>
                                <li>Value: {{agreement.value}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>